<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>

  <style>
    @font-face {
      font-family: 'Myriad Pro';
      src: url('fonts/MyriadPro-Semibold.woff2') format('woff2'),
        url('fonts/MyriadPro-Semibold.woff') format('woff'),
        url('fonts/MyriadPro-Semibold.ttf') format('truetype');
      font-weight: 600;
      font-style: normal;
    }

    @font-face {
      font-family: 'Myriad Pro';
      src: url('fonts/MyriadPro-Bold.woff2') format('woff2'),
        url('fonts/MyriadPro-Bold.woff') format('woff'),
        url('fonts/MyriadPro-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
    }

    @font-face {
      font-family: 'Myriad Pro';
      src: url('fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('fonts/MyriadPro-Regular.woff') format('woff'),
        url('fonts/MyriadPro-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
  </style>
</head>

<body style="margin: 0;padding: 0;font-family: 'Myriad Pro' !important;">

  <table
    style="color:#404040;width:100%;max-width:650px;height:auto;margin:0 auto;background-color: #F6F6F6;padding: 20px 25px;border-spacing: 0;">
    <tr>
      <td
        style="border-left: 1px solid #DFDFDF;border-right: 1px solid #DFDFDF;border-bottom: 1px solid #DFDFDF;padding: 0;">
        <table
          style="width: 100%;background-color: #FFF;border-top: 5px solid #ee4e5a;padding: 30px 25px;border-spacing: 0px !important;">
          <thead>
            <tr>
              <td>
                <img src="<%= messageBody.image_path%>" width="75" style="display: table;margin: 0 auto;">
                <p style="font-weight: bold;font-size: 24px;margin: 15px 0 40px 0;text-align: center;">Welcome to
                  Cake Shop</p>
              </td>
            </tr>
          </thead>

          <tbody style="border-spacing: 0;">
            <tr>
              <td>
                <p style="font-size: 16px;margin: 0;">Hello <%- messageBody.user_name %>!</p>
                <p style="margin: 20px 0 30px 0;line-height: 150%;"> Thank you for showing your interest in our
                  platform. We're
                  really happy
                  to have you! Use
                  the 4-digit code
                  below
                  to register on the platform and get started with the programs.</p>


              </td>
            </tr>

            <tr>
              <td>

                <table style="width: 310px;margin:0 auto;padding-bottom: 120px;">

                  <tr>
                    <td colspan="4">
                      <p style="margin: 0 0 10px 0;font-weight: 600;">4 digit code </p>
                    </td>
                  </tr>
                  <tr>
                    <% for(code of messageBody.OTP_key_arr ){ %>
                    <td>
                      <p
                        style="margin:0;height:50px;display:inline-flex;justify-content:center;align-items: center;border: 1px solid #D7D7D7;border-radius:5px;width:65px;">
                        <span style="font-size: 28px;"><%= code%></span></p>
                    </td>
                    <%} %>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <!-- <a href="#"
                        style="padding: 15px 30px;border-radius: 3px;background-color: #ee4e5a;text-decoration: none;display: table; margin: 0 auto;margin-top: 40px;">
                        <span style="color: #FFF;font-size: 18px;font-weight: 600;letter-spacing: .5px;">Register for
                          UNPANIQ</span>
                      </a> -->
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>

        </table>
      </td>
    </tr>
  </table>

</body>

</html>