<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Password Changed Successfuly</title>
</head>

<body>

  <div class="container pt-5">
    <div class="col-md-5 mx-auto">
      <div class="card">
        <div class="card-header">
          Password changed successfuly
        </div>
        <div class="card-body">
          <div class="text-center">
            <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0)">
                <path
                  d="M66.2075 50.0845C64.1917 55.5479 61.1429 60.2983 57.145 64.2025C52.5942 68.6462 46.6353 72.1773 39.4335 74.6962C39.1972 74.7786 38.9505 74.8461 38.7028 74.8959C38.3755 74.9605 38.0425 74.9954 37.7123 75H37.6476C37.2957 75 36.9421 74.9645 36.5913 74.8959C36.3436 74.8461 36.1004 74.7786 35.8652 74.6979C28.6549 72.183 22.6885 68.6537 18.1332 64.2099C14.1334 60.3058 11.0853 55.5582 9.07229 50.0948C5.41189 40.1613 5.62017 29.2185 5.78783 20.4248L5.79069 20.2898C5.82445 19.5636 5.84619 18.8009 5.85821 17.9586C5.91944 13.8233 9.20733 10.4021 13.3432 10.1715C21.9664 9.69025 28.6371 6.87786 34.3369 1.32233L34.3866 1.27655C35.3331 0.408514 36.5255 -0.0172063 37.7123 0.000532164C38.8567 0.0154095 39.9965 0.440558 40.9092 1.27655L40.9578 1.32233C46.6587 6.87786 53.3295 9.69025 61.9526 10.1715C66.0885 10.4021 69.3764 13.8233 69.4376 17.9586C69.4497 18.8066 69.4714 19.5682 69.5052 20.2898L69.5069 20.347C69.674 29.1572 69.8811 40.1218 66.2075 50.0845Z"
                  fill="#00DD80" />
                <path
                  d="M66.2074 50.084C64.1915 55.5474 61.1428 60.2978 57.1448 64.202C52.5941 68.6457 46.6351 72.1768 39.4334 74.6956C39.197 74.778 38.9504 74.8456 38.7026 74.8953C38.3753 74.96 38.0423 74.9949 37.7122 74.9995V0C38.8566 0.0148774 39.9964 0.440026 40.9091 1.27602L40.9577 1.32179C46.6586 6.87733 53.3294 9.68972 61.9525 10.1709C66.0884 10.4015 69.3763 13.8228 69.4375 17.9581C69.4495 18.8061 69.4713 19.5677 69.505 20.2892L69.5068 20.3465C69.6738 29.1567 69.881 40.1213 66.2074 50.084Z"
                  fill="#00AA63" />
                <path
                  d="M56.338 37.5002C56.338 47.7845 47.9878 56.1558 37.7121 56.1925H37.6463C27.3403 56.1925 18.9541 47.8068 18.9541 37.5002C18.9541 27.1943 27.3403 18.8086 37.6463 18.8086H37.7121C47.9878 18.8452 56.338 27.2166 56.338 37.5002Z"
                  fill="white" />
                <path
                  d="M56.338 37.5002C56.338 47.7845 47.9878 56.1558 37.7122 56.1925V18.8086C47.9878 18.8452 56.338 27.2166 56.338 37.5002Z"
                  fill="#E1EBF0" />
                <path
                  d="M46.1304 34.8094L37.7121 43.2288L35.8931 45.0479C35.4634 45.4776 34.8997 45.6922 34.3367 45.6922C33.7731 45.6922 33.21 45.4776 32.7797 45.0479L28.8687 41.1351C28.0093 40.2757 28.0093 38.8835 28.8687 38.0235C29.727 37.164 31.1209 37.164 31.9804 38.0235L34.3367 40.3798L43.0188 31.6978C43.8782 30.8377 45.2721 30.8377 46.1304 31.6978C46.9899 32.5572 46.9899 33.9511 46.1304 34.8094Z"
                  fill="#B4D2D7" />
                <path
                  d="M46.1304 34.8094L37.7122 43.2288V37.0038L43.0188 31.6978C43.8782 30.8377 45.2721 30.8377 46.1304 31.6978C46.9899 32.5572 46.9899 33.9511 46.1304 34.8094Z"
                  fill="#6FA5AA" />
              </g>
              <defs>
                <clipPath id="clip0">
                  <rect width="75" height="75" fill="white" />
                </clipPath>
              </defs>
            </svg>

          </div>
          <!-- <h5 class="card-title">Your passwor</h5> -->
          <p class="card-text my-4 text-center">Your password has beed successfuly update into out system. You can now
            login
            with your
            recently updated password</p>
          <!-- <a href="#" class="btn btn-primary px-5 w-100">Login</a> -->
        </div>
      </div>
    </div>
  </div>
</body>

</html>